<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="TorchCoin (TCH) is a cryptocurrency backed by the training of deep learning models written in <a href="http://pytorch.org/">PyTorch</a> on the blockchain.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="TorchCoin">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="TorchCoin (TCH) is a cryptocurrency backed by the training of deep learning models written in <a href="http://pytorch.org/">PyTorch</a> on the blockchain.">
  <meta property="og:site_name" content="TorchCoin">

  {% if page.thumb_image %}
    {% if page.thumb_image contains '://' %}
      <meta property="og:image" content="{{ site.url }}{% asset tch_small.png @path %}">
    {% else %}
      <meta property="og:image" content="{{ site.url }}{% asset tch_small.png @path %}">
    {% endif %}
  {% else %}
    <meta property="og:image" content="{{ site.url }}{% asset tch_small.png @path %}">
  {% endif %}


  {% if site.local_fonts %}
    {% asset fonts.css %}
  {% endif %}

  {% if site.blog_theme == "light" %}
    <link rel="icon" type="image/x-icon" href="{% asset favicon-light.ico @path %}">
    <link rel="apple-touch-icon" href="{% asset apple-touch-icon-light.png @path %}">
    {% asset light.css %}
  {% else %}
    <link rel="icon" type="image/x-icon" href="{% asset favicon-dark.ico @path %}">
    <link rel="apple-touch-icon" href="{% asset apple-touch-icon-dark.png @path %}">
    {% asset dark.css %}
  {% endif %}
</head>
